@media (max-width: 768px) {
  img {
    max-height: 100%;
    max-width: 100%;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .TopNav {
    height: 52px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: transparent;
  }

  .main-nav {
    width: 100%;
    height: 56px;
    border-top: 1px solid #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    justify-content: center;
    color: white;
    font-size: 10px;
  }

  .together {
    padding-top: 80px;
    font: 1em sans-serif;
    font-size: 28px;
    font-weight: 600;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
  }

  /* -------------------------- 자동배너 <모바일> --------------------- */
  .wrap {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .wrap .rolling-list ul {
    display: flex;
  }
  .wrap .rolling-list ul li {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 0 16px;
    padding: 46px 31px;
    display: flex;
    align-items: center;
  }

  .wrap .rolling-list ul li .image-wrap > img {
    max-width: 100%;
  }

  .wrap .rolling-list ul li .desc span {
    font-size: 18px;
    line-height: 1.2;
  }

  .rolling-list.original {
    animation: rollingleft1 33s linear infinite;
  }
  .rolling-list.clone {
    animation: rollingleft2 33s linear infinite;
  }

  @keyframes rollingleft1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    50.01% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rollingleft2 {
    0% {
      transition: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  /* -------------------------- 자동배너 <모바일> --------------------- */

  /* -------------------- 카카오 버튼에 대해서 <모바일> -------------------- */
  .fixed-button-container {
    height: auto;
    margin-top: 5%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* 버튼이 다른 콘텐츠 위에 표시되도록 설정 */
    background-color: transparent;
    display: grid;
    justify-content: space-between;
  }

  .Button {
    margin: 0.5%;
    width: 100vw;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;
    line-height: 28px;
  }
  /* -------------------- 카카오 버튼에 대해서 <모바일> -------------------- */

  /* ----------------------- 풋터 <모바일> ------------------------ */

  .footer-right {
    flex-direction: column;
    align-items: end;
    margin-top: 50px;
    margin-left: 0px;
    display: grid;

    width: 50%;
    background-color: #2753ad;
  }

  .logo-img {
    width: 80px;
    height: 15.61px;
  }

  .community {
    width: 80px;
    height: 42px;
    font-size: 20px;
    color: white;
  }

  .notification {
    width: 162px;
    height: 42px;
    font-size: 20px;
    color: white;
  }

  .requestion {
    width: 162px;
    height: 42px;
    font-size: 20px;
    color: white;
  }

  .social-item {
    display: flex;
    gap: 10px;
  }

  .social {
    border: white 1px solid;
    border-radius: 9px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }

  .insta {
    width: 22px;
    height: 22px;
  }

  .kakao {
    width: 22px;
    height: 22px;
  }

  .blog {
    width: 22px;
    height: 22px;
  }

  .info {
    width: 100px;
  }

  .footer {
    width: 100%;
    height: 350px;
    border-top: 1px solid #4b5563;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    background-color: #2753ad;
  }

  .footer-left {
    flex: 1;
    width: 50%;
    height: 100%;
    padding: 36px 30px;
    background-color: #2753ad;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
  }

  .logo-img {
    width: 160px;
    height: 40.61px;
  }

  .links {
    display: flex;
    gap: 8px;
  }

  .footer-link {
    color: white;
    font-size: 16px;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 20px;
  }

  .separator {
    color: white;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .label {
    color: #aec7fc;
    font-size: medium;
  }

  .label.title {
    font-weight: 700;
  }

  .value {
    color: white;
    font-size: medium;
  }

  .business-info-link {
    color: white;
    font-size: medium;
  }
  /* 풋터는 여기까지 입니다 */

  .more-info {
    margin: 10px auto;
    width: 110px;
    height: 60px;
  }

  .info-section {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .section-title {
    color: #030712;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 52px;
    word-wrap: break-word;
    text-align: center;
  }

  .info-box {
    margin-bottom: 20px;
  }
}
