@media (max-width: 767px) {
* {
        margin: 0px;
        padding: 0px;
    }

    .navigation-link {
        width: 120px;
        height: 46px;
        padding: 16px 32px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
    }
}