@media (max-width: 768px) {
  img {
    max-height: 100%;
    max-width: 100%;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* -------------------- 공통 헤더 영역 ------------------------------ */
  .TopNav-sub {
    width: 100%;
    height: 60px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: white;
  }

  .logo-top {
    width: 100%;
    padding: 0.5% 1%;
    display: flex;
    justify-content: space-between;
  }

  .logo-top img {
    width: 80px;
  }

  /* 스크롤시 글자 색상 변경 */
  .nav-link-sub {
    color: black; /* 초기 글자색은 흰색으로 설정 */
  }

  .nav-link-sub {
    margin: 2px;
    width: 400px;
    color: #000; /* 스크롤하면 글자색을 검정색으로 변경 */
    font-size: 8px;
    font-weight: 500;
    padding: 1%;
  }

  .main-nav-sub {
    width: 100%;
    height: 20px;
    display: inline-block;
    align-items: center;
    /* gap: 30px; */
  }

  .nav-link-sub:hover,
  .nav-link-sub:focus {
    color: #2753ad; /* 호버 또는 포커스 시 글자색을 검정색으로 변경 */
    border-bottom: #2753ad solid 3px;
  }

  .info-sub img {
    width: 20px;
    height: 20px;
  }

  .TopNav {
    height: 52px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: transparent;
  }

  .main-nav {
    width: 100%;
    height: 56px;
    border-top: 1px solid #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    justify-content: center;
    color: white;
    font-size: 10px;
  }

  .together {
    padding-top: 80px;
    font: 1em sans-serif;
    font-size: 28px;
    font-weight: 600;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
  }

  /* -------------------- 공통 헤더 영역 ------------------------------ */
  /* -------------------------- 자동배너 <모바일> --------------------- */
  .wrap {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .wrap .rolling-list ul {
    display: flex;
  }
  .wrap .rolling-list ul li {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 0 16px;
    padding: 46px 31px;
    display: flex;
    align-items: center;
  }

  .wrap .rolling-list ul li .image-wrap > img {
    max-width: 100%;
  }

  .wrap .rolling-list ul li .desc span {
    font-size: 18px;
    line-height: 1.2;
  }

  .rolling-list.original {
    animation: rollingleft1 33s linear infinite;
  }
  .rolling-list.clone {
    animation: rollingleft2 33s linear infinite;
  }

  @keyframes rollingleft1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    50.01% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rollingleft2 {
    0% {
      transition: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  /* -------------------------- 자동배너 <모바일> --------------------- */

  /* -------------------- 카카오 버튼에 대해서 <모바일> -------------------- */
  .fixed-button-container {
    height: auto;
    margin-top: 5%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* 버튼이 다른 콘텐츠 위에 표시되도록 설정 */
    background-color: transparent;
    display: grid;
    justify-content: space-between;
  }

  .Button {
    margin: 0.5%;
    width: 100vw;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;
    line-height: 28px;
  }
  /* -------------------- 카카오 버튼에 대해서 <모바일> -------------------- */

  /* ----------------------- 풋터 <모바일> ------------------------ */

  .logo-img {
    width: 80px;
    height: 15.61px;
  }

  .community {
    width: 80px;
    height: 42px;
    font-size: 20px;
    color: white;
  }

  .notification {
    width: 162px;
    height: 42px;
    font-size: 20px;
    color: white;
  }

  .requestion {
    width: 162px;
    height: 42px;
    font-size: 20px;
    color: white;
  }

  .social-item {
    display: flex;
    gap: 10px;
  }

  .social {
    border: white 1px solid;
    border-radius: 9px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }

  .insta {
    width: 22px;
    height: 22px;
  }

  .kakao {
    width: 22px;
    height: 22px;
  }

  .blog {
    width: 22px;
    height: 22px;
  }

  .info {
    width: 100px;
  }

  .footer {
    width: 100%;
    height: 400px;
    border-top: 1px solid #4b5563;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    background-color: #2753ad;
  }

  .footer-left {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 36px 30px;
    background-color: #2753ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .logo-img {
    width: 160px;
    height: 40.61px;
  }

  .links {
    display: flex;
    gap: 8px;
  }

  .footer-link {
    color: white;
    font-size: 16px;
    font-family: Pretendard;
    font-weight: 500;
    line-height: 20px;
  }

  .separator {
    color: white;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .label {
    color: #aec7fc;
    font-size: medium;
  }

  .label.title {
    font-weight: 700;
  }

  .value {
    color: white;
    font-size: medium;
  }

  .business-info-link {
    color: white;
    font-size: medium;
  }
  /* 풋터는 여기까지 입니다 */

  .more-info {
    margin: 10px auto;
    width: 110px;
    height: 60px;
  }

  .info-section {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .section-title {
    color: #030712;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 52px;
    word-wrap: break-word;
    text-align: center;
  }

  .info-box {
    margin-bottom: 20px;
  }

  .sizedBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .other-story {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-family: "Gmarket Sans";
  }
  /* ----------------------- 풋터 <모바일> ------------------------ */

  /* ---------------------- 창업이야기  --------------------------- */

  .banner-sub {
    margin-top: 3%;
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-in {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    font-size: 80px;
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: "Gmarket Sans";
  }

  /* ------------------- 탭바관련   ------------------- */

  /* 1. tab 영역 css 설정 */
  .tab-area {
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    /* white-space: nowrap; */
    justify-content: center;
    align-items: center;
  }

  /* 2. tab 메뉴 부분 디자인 */
  .tab-area input {
    display: none;
  }

  .tab-area-item {
    border: 1px black solid;
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: center;
    display: flex;
  }

  .tab-area label {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Gmarket Sans";
    padding: 10px;
  }

  /* label에 마우스 올렸을 때 */
  .tab-area label:hover {
    cursor: pointer; /*마우스 모양 변경*/
    color: #2753ad;
  }

  .tab-area label:focus {
    cursor: pointer; /*마우스 모양 변경*/
    color: #2753ad;
  }

  /* tab-area 안에 존재하는 input 태그가 체크되었을 때, 
체크된 input 태그 다음에 등장하는 label의 css 값 */
  .tab-area input:checked + label {
    /* 해당 메뉴가 선택된 상태인지 아닌지를 사용자에게 알려줄 수 있음 */
    font-weight: bold;
  }

  /* 3. tab 내용 부분 디자인 */
  .tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    display: none;
  }

  /* input 태그가 체크 상태일떼, 이에 대응하는 content?를 display에 표시하도록 설정 */
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5,
  #tab6:checked ~ #content6,
  #tab7:checked ~ #content7 {
    display: flex;
  }

  .blue {
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 90%;
    margin: 0% 5%;
  }

  .yellow {
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 90%;
    margin: 0% 5%;
  }

  .green {
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 90%;
    margin: 0% 5%;
  }

  .scroll-left {
    left: 3%;
    width: 30px;
    height: 30px;
    background-color: aqua;
    position: fixed;
    position: absolute;
  }

  .scroll-right {
    right: 5%;
    width: 30px;
    height: 30px;
    background-color: aqua;
    position: fixed;
    position: relative;
  }

  /* ------------------- 탭바관련   ------------------- */

  /* ---------------------- 창업이야기  --------------------------- */
}
