/* 초기 태그설정 */
* {
  margin: 0;
  padding: 0;
  font: normal 12px "noto sans korean";
}

body {
  width: 100%;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
  /* overflow: hidden; */
}

a {
  list-style: none;
  text-decoration: none;
  color: #111;
}

#wrapper {
  width: 100%;
  height: 100%;
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
} */

.info img {
  width: 40px;
  height: 40px;
}

.info img {
  filter: grayscale(100%);
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* 풋터는 여기까지 입니다 */
/* style.css */
.footer {
  width: 100%;
  height: 300px;
  border-top: 1px solid #4b5563;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #2753ad;
}

.footer-left {
  flex: 1;
  height: 100%;
  padding: 36px 30px;
  background-color: #2753ad;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.logo-img {
  width: 160px;
  height: 40.61px;
}

.links {
  display: flex;
  gap: 8px;
}

.footer-link {
  color: white;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20px;
}

.separator {
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #aec7fc;
  font-size: medium;
}

.label.title {
  font-weight: 700;
}

.value {
  color: white;
  font-size: medium;
}

.business-info-link {
  color: white;
  font-size: medium;
}
/* 풋터는 여기까지 입니다 */

.fixed-button-container {
  height: auto;
  width: 100%;
  margin-top: 5%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* 버튼이 다른 콘텐츠 위에 표시되도록 설정 */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.Button {
  margin: 0.5%;
  width: 50vw;
  height: 50px;
  padding: 8px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  font-size: 24px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 28px;
}

#login-button {
  background: #f9fafb;
  color: #030712;
}

#kakao-button {
  background: #fee502;
  color: #341c1e;
}

.info {
  color: white;
  display: flex;
  width: 120px;
  height: 40px;
  font-size: medium;
  justify-content: center;
  flex-direction: column;
}

.Inner {
  display: flex;
  align-items: center;
}

.logo-back {
  margin-top: 20%;
  color: transparent;
}

.icon {
  margin-right: 4px;
  margin-bottom: 2px;
  width: 24px;
  height: 34px;
  /* background: #341C1E; */
}

/* 버튼을 호버할 때 색상 변경 */
.Button:hover {
  opacity: 0.9;
  cursor: pointer; /* 마우스 커서 모양 변경 */
}

/* 버튼을 클릭할 때 변화를 줌 */
.Button:active {
  transform: translateY(2px); /* 버튼을 눌렀을 때 아래로 조금 이동 */
  opacity: 0.8;
}

.info-section {
  width: 100%;
  padding: 0 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.section-title {
  color: #030712;
  font-size: 48px;
  font-family: Pretendard;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
  text-align: center;
}

.TopNav {
  height: 52px;
  padding: 8px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: transparent;
}

.TopNav.scrolled {
  background-color: #fff;
}

/* 스크롤시 글자 색상 변경 */
.TopNav .main-nav .nav-link,
.TopNav .info {
  color: #fff; /* 초기 글자색은 흰색으로 설정 */
}

.TopNav.scrolled .main-nav .nav-link,
.TopNav.scrolled .info {
  color: #000; /* 스크롤하면 글자색을 검정색으로 변경 */
}

.Rectangle {
  width: 24px;
  height: 24px;
  position: absolute;
  background: #4b5563;
}

.Group {
  position: relative;
}

.nav-link {
  color: white;
  font-size: medium;
}

.main-nav {
  width: 100%;
  height: 56px;
  border-top: 1px solid #4b5563;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-content,
.social-icons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-text {
  color: black;
  font-size: 16px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 20px;
  text-align: justify;
  word-wrap: break-word;
}

.social-icons {
  flex-direction: row;
  align-items: center;
}

.social-icon {
  width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.spacer {
  height: 30px;
}
.addSpacer {
  height: 70px;
}

.info-boxes {
  line-height: 10px;
  display: flex;
  justify-content: space-around; /* 박스 사이에 균일한 간격을 제공 */
  flex-wrap: wrap; /* 화면 너비가 박스 3개를 수용할 수 없을 경우 줄바꿈 */
}

.info-box {
  /* 기존 스타일 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  background: #fdfeff;
  border-radius: 20px;
  padding: 48px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  /* 수정된 너비 및 정렬 스타일 */
  width: 300px; /* 박스의 너비를 고정값으로 설정 */
  margin: 0; /* 필요한 경우, 외부 여백을 없애거나 조정 */
  flex: none; /* flex-grow, flex-shrink, flex-basis를 무시하고 width 값만 적용 */
}

.box-icon {
  justify-content: center;
  width: 80%;
  height: 60%;
  background: transparent;
}

.box-text {
  text-align: center;
  color: #030712;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}

/* 데스크탑 환경을 위한 미디어 쿼리 */
@media (min-width: 1025px) {
  .info-box {
    margin-right: 10px;
  }
}

/* ---------------------------- 슬라이더 관련 ------------------------------ */
/* @import url("https://fonts.googleapis.com/css2?family=Gorditas&display=swap"); */

.container {
  display: grid;
  grid-template: "container" 1fr;
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(900px, 50vh, 900px);
}

.container > * {
  grid-area: container;
  max-width: 100%;
}

.title {
  place-self: start center;
}

.carousel-control.prev {
  place-self: center left;
}

.carousel-control.next {
  place-self: center right;
}

.carousel-dots {
  place-self: end center;
}

/* Other element styles */

* {
  box-sizing: border-box;
}

.checkbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  background-color: inherit;
  padding: 1rem;
  opacity: 0.9;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: white;
}

.carousel-viewport {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.carousel-viewport .items {
  position: relative;
  display: flex;
  transition: transform 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.carousel-viewport .item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  min-width: 100%;
  transform: translateZ(0);
}

.carousel-viewport img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  user-select: none;
}

.carousel-control {
  --size: clamp(2.5rem, 8vw, 4rem);

  position: relative;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  color: gray;
  fill: currentcolor;
  background: transparent;
  border: none;
  width: var(--size);
  height: var(--size);
  padding: 0.25rem;
  touch-action: cross-slide-y;
  transform: translateY(0);
}

.carousel-control:active {
  transform: translateY(1px);
}

.carousel-control svg {
  width: 100%;
  height: 100%;
  pointer-events: visiblePainted;
}

.carousel-dots {
  gap: 1rem;
  padding: 1rem;
}

.carousel-dots .dot {
  width: 30px; /* 막대기의 너비 */
  height: 5px; /* 막대기의 높이 */
  background-color: gray; /* 막대기의 색상 */
  list-style-type: none; /* 리스트 스타일 제거 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  display: inline-block;
}

.carousel-dots .dot.active {
  background-color: white; /* 활성화된 막대기의 색상 변경 */
}

/* aspect-ratio fallback */
@supports not (aspect-ratio: 16 / 9) {
  .carousel-viewport .item::before {
    content: "";
    float: left;
    padding-top: 56.25%;
  }

  .carousel-viewport .item::after {
    content: "";
    display: block;
    clear: both;
  }
}
/* ---------------------------- 슬라이더 관련 ------------------------------ */

/* ---------------- 자동 배너 광고  ----------------  */

.wrap {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
.wrap .rolling-list ul {
  display: flex;
}
.wrap .rolling-list ul li {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 0 16px;
  padding: 46px 31px;
  display: flex;
  align-items: center;
}

.wrap .rolling-list ul li .image-wrap > img {
  max-width: 100%;
}

.wrap .rolling-list ul li .desc span {
  font-size: 18px;
  line-height: 1.2;
}

.rolling-list.original {
  animation: rollingleft1 33s linear infinite;
}
.rolling-list.clone {
  animation: rollingleft2 33s linear infinite;
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.together {
  padding-top: 60px;
  font: 1em sans-serif;
  font-size: 48px;
  font-weight: 600;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 150px;
}

/* ---------------- 자동 배너 광고  ----------------  */

/* ----------------- 자주 묻는 질문 ----------------- */

/* CSS는 여기에 추가됩니다 */
.faq-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 270px;
}

.faq-item {
  margin-bottom: 8px;
}

.faq-question {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  padding: 3%;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  font-family: "Gmarket Sans";
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.faq-item.active .arrow {
  transform: rotate(225deg);
}

.faq-answer {
  display: none;
  padding: 3%;
  background: #f6f9ff;
  font-size: 24px;
}

.faq-item.active .faq-answer {
  display: block;
}

.more-info {
  margin: 20px auto;
  width: 300px;
  height: 60px;
}

/* ----------------- 자주 묻는 질문 ----------------- */

.footer-right {
  margin-top: 50px;
  display: block;
  width: 200px;
  background-color: #2753ad;
}

.community {
  width: 162px;
  height: 42px;
  font-size: 20px;
  color: white;
}

.notification {
  width: 162px;
  height: 42px;
  font-size: 20px;
  color: white;
}

.requestion {
  width: 162px;
  height: 42px;
  font-size: 20px;
  color: white;
}

.social-item {
  display: flex;
  gap: 10px;
}

.social {
  padding: 2%;
  border: white 1px solid;
  border-radius: 9px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.insta {
  width: 22px;
  height: 22px;
}

.kakao {
  width: 22px;
  height: 22px;
}

.blog {
  width: 22px;
  height: 22px;
}

.info {
  width: 100px;
}

/* ------------------- startups - history -------------------  */

/* ------------------- nav 관련입니다 ------------------- */

.TopNav-sub {
  height: 52px;
  padding: 8px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: white;
}

/* 스크롤시 글자 색상 변경 */
.nav-link-sub {
  color: black; /* 초기 글자색은 흰색으로 설정 */
  font-size: large;
}

.nav-link-sub {
  color: #000; /* 스크롤하면 글자색을 검정색으로 변경 */
  padding: 2%;
}

.main-nav-sub {
  width: 50%;
  height: 56px;
  border-top: 1px solid #4b5563;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.nav-link-sub:hover,
.nav-link-sub:focus {
  color: #2753ad; /* 호버 또는 포커스 시 글자색을 검정색으로 변경 */
  border-bottom: #2753ad solid 3px;
}
/* ------------------- nav 관련입니다 ------------------- */

.banner-sub {
  margin-top: 3%;
  width: 100%;
  height: 320px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-in {
  display: flex;
  justify-content: end; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  width: 100%;
  font-size: 320px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 121px;
  font-family: "Gmarket Sans";
}

.other-story {
  margin-top: 121px;
  margin-bottom: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 40px;
  font-family: "Gmarket Sans";
}

/* ------------------- startups - history -------------------  */

/* ------------------- 탭바관련   ------------------- */
/* 1. tab 영역 css 설정 */
.tab-area {
  margin: 0% 5%;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 2. tab 메뉴 부분 디자인 */
.tab-area input {
  display: none;
}

.tab-area-item {
  border: 1px black solid;
  width: 100%;
  height: 60px;
  font-size: 24px;
  text-align: center;
  display: flex;
}

.tab-area label {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Gmarket Sans";
  padding: 14px;
}

/* label에 마우스 올렸을 때 */
.tab-area label:hover {
  cursor: pointer; /*마우스 모양 변경*/
  color: #2753ad;
}

.tab-area label:focus {
  cursor: pointer; /*마우스 모양 변경*/
  color: #2753ad;
}

/* tab-area 안에 존재하는 input 태그가 체크되었을 때, 
체크된 input 태그 다음에 등장하는 label의 css 값 */
.tab-area input:checked + label {
  /* 해당 메뉴가 선택된 상태인지 아닌지를 사용자에게 알려줄 수 있음 */
  font-weight: bold;
}

/* 3. tab 내용 부분 디자인 */
.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /*부모 div width와 같은 width를 가진다.*/
  height: auto;
  display: none;
}

/* input 태그가 체크 상태일떼, 이에 대응하는 content?를 display에 표시하도록 설정 */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
  display: flex;
}

.blue {
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 90%;
  margin: 0% 5%;
}

.yellow {
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 90%;
  margin: 0% 5%;
}

.green {
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 90%;
  margin: 0% 5%;
}

/* ------------------- 탭바관련   ------------------- */

/* ------------------- 그리드형식 이미지 처리  ------------------ */
.grid {
  display: grid;
  gap: 18px 18px;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  margin-top: 2%;
  margin-bottom: 50px;
}

.grid-item img {
  display: block;
  height: 600px;
  width: 540px;
  object-fit: cover;
}

.grid-item {
  position: relative;
}

.grid-item:hover .item-text-container {
  visibility: visible;
}

.grid-item:hover::before {
  content: "";
  position: absolute;
  left: 14%;
  width: 540px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.7); /* 투명한 회색 */
  z-index: 1; /* 배경 이미지 위에 위치하도록 설정 */
  opacity: 0; /* 초기에는 투명하게 설정 */
  transition: opacity 0.3s ease; /* 트랜지션 효과를 추가하여 부드럽게 변화하도록 설정 */
}

.grid-item:hover::before {
  opacity: 1; /* 호버됐을 때 투명도를 1로 설정하여 보이게 함 */
}

.cafe,
.restaurant,
.unnamedStartUp,
.bar,
.rental,
.other,
.menus {
  padding: 0% 5%;
}

.child-item1 {
  position: relative;
  z-index: 2; /* ::before 가상 요소보다 높은 값을 설정 */

  color: white;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 16px;
}

.child-item2 {
  position: relative;
  z-index: 2; /* ::before 가상 요소보다 높은 값을 설정 */

  color: white;
  font-weight: 700;
  font-size: 24px;
}

.child-item3 {
  position: relative;
  z-index: 2; /* ::before 가상 요소보다 높은 값을 설정 */

  color: white;
  font-size: 16px;
}

.child-item1,
.child-item2,
.child-item3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text-container {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 509%;
  transform: translate(-50%, -50%);
  z-index: 2; /* ::before 가상 요소보다 높은 값을 설정 */
  color: white;
  text-align: center;
}

.item-text-container > div {
  margin: 10px 0; /* 각 텍스트 사이의 간격 */
}

.item:hover .item-text-container {
  visibility: visible;
}

/* ------------------- 그리드형식 이미지 처리  ------------------ */

.summernote-container {
  margin-bottom: 18%;
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template: "container" 1fr;
  place-items: end;
  place-content: center;
  overflow: hidden;
  max-height: clamp(900px, 50vh, 900px);
}

.note-editable {
  color: black; /* 텍스트 색상을 검은색으로 설정 */
}

/* ------------------- 서머노트 관련  ------------------- */
.submit-button {
  margin-bottom: 15%;
  display: block;
  background-color: #e5e7eb;
  border: #e5e7eb solid 1px;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  justify-content: end;
  font-size: 16;
  font-weight: 700;
  font-family: "Gmarket Sans";
}

.submit-button {
  position: relative;
  z-index: 2;
}

.summernote-default {
  font-size: 18px;
}

/* -----------------  상세페이지  ------------------ */
.content-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 20%;
  width: 100%;
  height: 1500px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-category {
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #4b5563 solid 1px;
}

.content-storename {
  margin: 20px;
  font-size: 40px;
  font-weight: 700;
}

.content-others {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.story {
  color: #2563eb;
}

.content-others-text {
  font-size: 16px;
}

.content {
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.editor {
  font-size: 24px;
  font-family: "Gmarket Sans";
}

.community-requestion {
  width: auto; /* 너비를 자동으로 설정하여 텍스트에 맞춤 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  height: 42px;
  font-size: 20px;
  color: black;
}

.tabbarSocial {
  position: absolute;
  top: 29.7%;
  left: 29%;
  display: flex;
  gap: 10px;
  background-color: transparent;
}

.mini-tabbar {
  display: flex;
  width: 224px;
  height: auto;
}

.mini-tabbar-item {
  height: 40px;
  border: 1px solid #e5e7eb;
  color: black;
  font-family: "Gmarket Sans";
  font-size: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------------- bottom-image-slider ------------------------ */

.bottom-slider {
  display: flex;
  justify-content: space-between;
}

.bottom-slider-header {
  height: 200px;
  background-color: #2563eb;
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 80px;
}
.bottom-slider-body {
  height: 200px;
  width: 76;
  overflow: hidden;
}

.bottom-slider-logo {
  margin-top: 50px;
  width: 50%;
  height: 70%;
}

.bottom-slider-text {
  margin-bottom: 18%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.bottom-slider-logotext {
  color: white;
  font-family: "Gmarket Sans";
  font-size: 10px;
}

.key-img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-img img {
  width: auto;
  height: 150px;
}

.bottom-slider-body {
  display: flex;
  gap: 8px;
}

/* -------------------- bottom-image-slider ------------------------ */
/* -------------------- 창업자를 위한 무료강의 ------------------------- */

/* lecture-top */
.lecture-top {
  padding: 0% 5%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.lecture-top-left {
  width: 50%;
  height: auto;
}
.lecture-top-left img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.lecture-top-right {
  padding: 3%;
  height: auto;
  width: 50%;
}

.h1-text {
  width: 100%;
  font-size: 40px;
  font-family: "Gmarket Sans";
}

.h2-text {
  width: 100%;
  font-size: 28px;
  font-family: "Gmarket Sans";
  margin: 2% 0%;
}

.h3-text {
  color: #374151;
  font-size: 18px;
  font-family: "Gmarket Sans";
  margin: 2% 0%;
}

.h3-text-container {
  margin-bottom: 3%;
}

.h3-button {
  height: 50px;
  width: 240px;
  border: #e5e7eb 1px solid;
}
/* lecture-top */

/* lecture-list */
.lecture-list {
  padding: 0% 5%;
}

.lecture-list > div {
  padding: 10px;
}

.lecture-list-item {
  font-size: 20px;
  font-family: "Gmarket Sans";
}

.lecture-list-item:hover {
  color: #2753ad;
}
/* lecture-list */

/* 창업 준비생을 위한 key가이드 */
.lecture-mid {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-between;
  padding: 0.5% 5%;
}

.lecture-mid-left {
  padding: 2% 0%;
  width: 70%;
  height: auto;
  border: solid 1px#e5e7eb;
}

.lecture-main-text {
  padding-left: 0.5%;
}

.lecture-sub-items {
  padding: 1% 0.5%;
  height: auto;
  gap: 0 2px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.lecture-sub-blog {
  border: #03c75a solid 3px;
  color: #03c75a;
  padding: 0% 3%;
  font-size: 18px;
  border-radius: 15px;
}

.lecture-sub-text,
.lecture-sub-text a {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.lecture-mid-right {
  padding: 2% 5%;
  width: 30%;
  height: auto;
  background-image: url(../img/logo/yellow-logo.png);
  background-size: 100% 260px;
  display: flex;
  justify-content: space-between;
}

.kakao-text-mini {
  font-size: 28px;
  font-family: "Gmarket Sans";
}

.kakao-button {
  margin-top: 5%;
  padding: 2%;
  border-radius: 15px;
  width: 70px;
  background-color: #332e2c;
}

.kakao-button a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Gmarket Sans";
}

.kakao-bacode img {
  width: 120px;
  height: 120px;
}

/* 창업 준비생을 위한 key가이드 */

/* 주요 사업 정보 */

.choice-list {
  display: flex;
  justify-content: end;
  padding: 1% 5%;
  gap: 10px;
}

.choice-list-item {
  font-size: 16px;
  padding: 0.1%;
}

/* 주업 사업 정보 카드 */
.main-business-card {
  padding: 5%;
  width: auto;
  height: auto;
  border: 1px solid #e5e7eb;
}

.business-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.card-header-text {
  font-size: 15px;
  margin-bottom: 4%;
}

.business-card-mid {
  margin-bottom: 5%;
}

.card-mid-text {
  font-size: 20px;
  font-weight: 600;
}

.card-mid-text-mini {
  font-size: 12px;
}

.business-card-bottom {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.card-bottom-item {
  padding: 2px;
  align-items: center;
  background-color: #eff6ff;
  text-align: center;
  border-radius: 4px;
  width: 60px;
  height: 20px;
  color: #2563eb;
  border: #2563eb solid 1px;
}

/* 주업 사업 정보 카드 */

/* 주요 사업 정보 */

/* -------------------- 창업자를 위한 무료강의 ------------------------- */

/* ---------------------------  키스타트란?  ------------------------------ */
.sizedBox {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---------------------------  키스타트란?  ------------------------------ */

/* ---------------------- lecture - detail ------------------------------ */
.header-side-mini {
  display: flex;
  height: auto;
  width: 100%;
  background-color: red;
}
/* ---------------------- lecture - detail ------------------------------ */

/* ------------------------- 파트너사 ---------------------- */

.partner-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0% 5%;
}

aside {
  height: auto;
  width: 20%;
}

article {
  height: auto;
  width: 80%;
}

aside p {
  padding: 12px 10px;
  margin-bottom: 1rem;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.sub-menu a {
  color: #432;
  font-size: 24px;
  padding: 10px;
  display: block;
  text-align: center;
}

.sub-menu a:hover {
  background-color: #eff6ff;
  color: #2563eb;
}

.connect-category {
  width: 100%;
  font-size: 30px;
  color: #2563eb;
  border-bottom: #e5e7eb solid 3px;
}

.content-item {
  padding-top: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.content-item-header {
  padding: 0% 5%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: start;
}

.content-company-logo img {
  width: 100px;
  height: 100px;
  border: #e5e7eb solid 1px;
  border-radius: 100%;
}

.content-company-info {
  padding: 0% 2%;
  width: 100%;
  height: 120px;
}

.company-info-name {
  font-size: 20px;
}

.company-info-edu {
  width: 60%;
  padding: 4px;
  font-size: 14px;
  color: #4b5563;
  text-align: start;
}

.company-text1 {
  width: 100%;
  display: flex;
  padding: 1% 0;
  justify-content: space-between;
}

.company-text2 {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.content-company-link {
  padding-right: 17%;
}

.content-company-link a {
  font-size: 15px;
}

.company-info-title {
  font-size: 18px;
  color: #374151;
}

.company-info-hashtags {
  margin-top: 2px;
  display: flex;
  gap: 10px;
}

.hashtags-item {
  /* margin-right: 1%; */
  border-radius: 15px;
  margin: 0.3% 0;
  width: 80px;
  text-align: center;
  padding: 0.5%;
  border: #e5e7eb solid 1px;
  font-size: 14px;
}

.content-item-body {
  padding: 0% 5%;
  margin-top: 1%;
  width: auto;
  height: 200px;
  display: flex;
  gap: 5px;
}

.content-body-item {
  background-color: lightpink;
  width: 200px;
  height: 200px;
}

/* ------------------------- 파트너사 ---------------------- */

/* ------------------------ 키스타트란 ---------------------- */
main {
  height: auto;
  margin: 6% 12%;
}

.ad-video {
  width: 100%;
  height: 40%;
  background-color: blue;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section1 {
  margin-top: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section1-text1 {
  color: #2753ad;
  font-size: 44px;
  font-family: "Gmarket Sans";
}

.section1-text2 {
  color: black;
  font-size: 24px;
  font-family: "Gmarket Sans";
}

.main-section2 {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2-text1 {
  color: black;
  font-size: 24px;
  font-family: "Gmarket Sans";
}

.section2-text-power1 {
  width: 100%;
  display: grid;
  justify-content: start;
  align-items: start;
}

.section2-text-power2 img,
.section2-text-power1 img {
  width: 100px;
  height: 100px;
  justify-content: start;
  align-items: start;
}

.section2-text-power1 {
  width: 100%;
  display: grid;
  justify-content: start;
  align-items: start;
}

.section2-text-power1 img {
  width: 100px;
  height: 100px;
  justify-content: start;
  align-items: start;
}

.section2-text-power2 {
  width: 100%;
  display: grid;
  justify-content: end;
  align-items: end;
}

.main-section3 {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  justify-content: center;
  align-items: center;
}

.section3-text1-title {
  font-size: 20px;
  font-family: "Gmarket Sans";
  text-align: center;
  color: black;
}

.section3-text1 {
  font-size: 20px;
  font-family: "Gmarket Sans";
  text-align: center;
  color: #2753ad;
}

.section3-text1 {
  font-size: 20px;
  font-family: "Gmarket Sans";
  text-align: center;
  color: #2753ad;
}

.main-section-box {
  padding: 2%;
  background-color: #eff6ff;
  width: 150%;
  height: 100px;
  margin: 1%;
  align-items: center;
  justify-content: center;
}

.main-section4 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4-logo {
  display: flex;
  flex-direction: row;
}

.section4-logo img {
  padding: 10%;
  width: 100%;
}

.section4-text {
  color: black;
  font-size: 24px;
  font-family: "Gmarket Sans";
  margin-bottom: 20px;
}

.text-blue {
  color: #2753ad;
}

.main-section5 {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-box-title {
  color: black;
  font-size: 24px;
  font-family: "Gmarket Sans";
  margin-bottom: 20px;
}

.color-box-list {
  display: flex;
  justify-content: space-between;
}

.color-box-list {
  padding: 0% 5%;
  width: 100%;
  height: 40%;
  gap: 10px;
}

.color-box1 {
  height: 100%;
  width: 100%;
  background-color: #2753ad;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.color-box2 {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid black;
  color: #2753ad;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.color-box3 {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* ------------------------ 키스타트란 ---------------------- */
