/* 초기 태그설정 */
* {
  margin: 0;
  padding: 0;
  font: normal 12px "noto sans korean";
}

ul,
ol {
  list-style: none;
  list-style-type: none;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #111;
}

#wrapper {
  width: 100%;
  height: 100%;
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
} */

.info img {
  width: 40px;
  height: 40px;
}

.info img {
  filter: grayscale(100%);
}

img {
  display: block;
  margin: 0 auto; 
  width: 100%; 
  height: auto; 
}

/* 풋터는 여기까지 입니다 */
/* style.css */
.footer {
  width: 100%;
  height: 300px;
  border-top: 1px solid #4b5563;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #2753AD;
}

.footer-left {
  flex: 1;
  height: 100%;
  padding: 36px 30px;
  background-color: #2753AD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.logo-img {
  width: 160px;
  height: 40.61px;
}

.links {
  display: flex;
  gap: 8px;
}

.footer-link {
  color: white;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 20px;
}

.separator {
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #AEC7FC;
  font-size: medium;
}

.label.title {
  font-weight: 700;
}

.value {
  color: white;
  font-size: medium;
}

.business-info-link {
  color: white;
  font-size: medium;
}
/* 풋터는 여기까지 입니다 */

.fixed-button-container {
  height: auto;
  width: 100%;
  margin-top: 5%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* 버튼이 다른 콘텐츠 위에 표시되도록 설정 */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.Button {
  margin: 0.5%;
  width: 50vw;
  height: 50px;
  padding: 8px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  font-size: 24px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 28px;
}

#login-button {
  background: #f9fafb;
  color: #030712;
}

#kakao-button {
  background: #fee502;
  color: #341c1e;
}

.info {
  color: white;
  display: flex;
  width: 120px;
  height: 40px;
  font-size: medium;
  justify-content: center;
  flex-direction: column;
}



.Inner {
  display: flex;
  align-items: center;
}

.logo-back {
  margin-top: 20%;
  color: transparent;
}

.icon {
  margin-right: 4px;
  margin-bottom: 2px;
  width: 24px;
  height: 34px;
  /* background: #341C1E; */
}

/* 버튼을 호버할 때 색상 변경 */
.Button:hover {
  opacity: 0.9;
  cursor: pointer; /* 마우스 커서 모양 변경 */
}

/* 버튼을 클릭할 때 변화를 줌 */
.Button:active {
  transform: translateY(2px); /* 버튼을 눌렀을 때 아래로 조금 이동 */
  opacity: 0.8;
}

.TopNav {
  height: 52px;
  padding: 8px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: transparent; 
}

.TopNav.scrolled {
  background-color:  #fff; 
}

/* 스크롤시 글자 색상 변경 */
.TopNav .main-nav .nav-link,
.TopNav .info {
    color: #fff; /* 초기 글자색은 흰색으로 설정 */
}

.TopNav.scrolled .main-nav .nav-link,
.TopNav.scrolled .info {
    color: #000; /* 스크롤하면 글자색을 검정색으로 변경 */
}



.Rectangle {
  width: 24px;
  height: 24px;
  position: absolute;
  background: #4b5563;
}

.Group {
  position: relative;
}


.nav-link {
    color: white;
    font-size: medium;
}




.main-nav {
  width: 100%;
  height: 56px;
  border-top: 1px solid #4b5563;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}






/* 공통 스타일 */
.footer-right {
  padding: 40px;
}

.footer-content,
.social-icons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-text {
  color: black;
  font-size: 16px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 20px;
  text-align: justify;
  word-wrap: break-word;
}

.social-icons {
  flex-direction: row;
  align-items: center;
}

.social-icon {
  width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.spacer {
  height: 30px;
}
.addSpacer {
  height: 70px;
}




.info-boxes {
  line-height: 10px;
  display: flex;
  justify-content: space-around; /* 박스 사이에 균일한 간격을 제공 */
  flex-wrap: wrap; /* 화면 너비가 박스 3개를 수용할 수 없을 경우 줄바꿈 */
}

.info-box {
  /* 기존 스타일 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  background: #fdfeff;
  border-radius: 20px;
  padding: 48px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  /* 수정된 너비 및 정렬 스타일 */
  width: 300px; /* 박스의 너비를 고정값으로 설정 */
  margin: 0; /* 필요한 경우, 외부 여백을 없애거나 조정 */
  flex: none; /* flex-grow, flex-shrink, flex-basis를 무시하고 width 값만 적용 */
}

.box-icon {
  justify-content: center;
  width: 80%;
  height: 60%;
  background: transparent;
}

.box-text {
  text-align: center;
  color: #030712;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}

/* 데스크탑 환경을 위한 미디어 쿼리 */
@media (min-width: 1025px) {
  .info-box {
    margin-right: 10px;
  }
}

/* 모바일 화면을 위한 미디어 쿼리 */
@media (max-width: 767px) {
  .main-nav{
    width: 100%;
    height: 56px;
    border-top: 1px solid #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .nav-link{
    justify-content: center;
    color: white;
    font-size: 12px;
  }

  .TopNav {
    height: 52px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: transparent; 
  }
}

/* ---------------------------- 슬라이더 관련 ------------------------------ */
/* @import url("https://fonts.googleapis.com/css2?family=Gorditas&display=swap"); */

.container {
  display: grid;
  grid-template: "container" 1fr;
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(900px, 50vh, 900px);
}

.container > * {
  grid-area: container;
  max-width: 100%;
}

.title {
  place-self: start center;
}

.carousel-control.prev {
  place-self: center left;
}

.carousel-control.next {
  place-self: center right;
}

.carousel-dots {
  place-self: end center;
}

/* Other element styles */

* {
  box-sizing: border-box;
}


.checkbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  background-color: inherit;
  padding: 1rem;
  opacity: 0.9;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: white;
}


.carousel-viewport {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.carousel-viewport .items {
  position: relative;
  display: flex;
  transition: transform 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.carousel-viewport .item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  min-width: 100%;
  transform: translateZ(0);
}

.carousel-viewport img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  user-select: none;
}

.carousel-control {
  --size: clamp(2.5rem, 8vw, 4rem);

  position: relative;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  color: gray;
  fill: currentcolor;
  background: transparent;
  border: none;
  width: var(--size);
  height: var(--size);
  padding: 0.25rem;
  touch-action: cross-slide-y;
  transform: translateY(0);
}

.carousel-control:active {
  transform: translateY(1px);
}

.carousel-control svg {
  width: 100%;
  height: 100%;
  pointer-events: visiblePainted;
}

.carousel-dots {
  gap: 1rem;
  padding: 1rem;
} 

.carousel-dots .dot {
  width: 30px; /* 막대기의 너비 */
  height: 5px; /* 막대기의 높이 */
  background-color: gray; /* 막대기의 색상 */
  list-style-type: none; /* 리스트 스타일 제거 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  display: inline-block; 
}

.carousel-dots .dot.active {
  background-color: white; /* 활성화된 막대기의 색상 변경 */
}

/* aspect-ratio fallback */
@supports not (aspect-ratio: 16 / 9) {
  .carousel-viewport .item::before {
    content: "";
    float: left;
    padding-top: 56.25%;
  }

  .carousel-viewport .item::after {
    content: "";
    display: block;
    clear: both;
  }
}
/* ---------------------------- 슬라이더 관련 ------------------------------ */


/* ---------------- 자동 배너 광고  ----------------  */

.wrap { 
  display: flex; 
  overflow: hidden;
  margin-bottom: 20px;
}
.wrap .rolling-list ul { 
	display: flex;
}
.wrap .rolling-list ul li { 
	width: 150px; 
	height: 150px; 
    border-radius: 20px; 
    margin: 0 16px; 
    /* padding: 46px 31px;  */
    display: flex; 
    align-items: center; 
}


.wrap .rolling-list ul li .image-wrap > img { 
	max-width: 100%;
}

.wrap .rolling-list ul li .desc span { 
	font-size: 18px;
    line-height: 1.2;
}

.rolling-list.original {
	animation: rollingleft1 33s linear infinite;
}
.rolling-list.clone {
	animation: rollingleft2 33s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}


.together {
  padding-top: 60px;
  font: 1em sans-serif;
  font-size: 48px;
  font-weight: 600;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 150px;
}

/* ---------------- 자동 배너 광고  ----------------  */

/* ----------------- 자주 묻는 질문 ----------------- */




  /* CSS는 여기에 추가됩니다 */
  .faq-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .faq-item {
    margin-bottom: 8px;
  }
  
  .faq-question {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: flex;
    background-color: white;
    justify-content: space-between; 
    align-items: center; 
    font-family: "Gmarket Sans"
  }
  
  .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  .faq-item.active .arrow {
    transform: rotate(225deg);
  }
  
  .faq-answer {
    display: none;
    padding: 10px;
    background: #F6F9FF;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }



  .more-info {
    margin: 20px auto; 
    width: 300px;
    height: 60px;
  }



/* ----------------- 자주 묻는 질문 ----------------- */

.footer-right {
  display: block;
  width: 200px;
  background-color: #2753AD;
}

.community{
  width: 162px;
  height: 42px;
  font-size: 20px;
  color: white;

}

.notification{
  width: 162px;
  height: 42px;
  font-size: 20px;
  color: white;
}

.requestion{
  width: 162px;
  height: 42px;
  font-size: 20px;
  color: white;

}

.social-item{
  display: flex;
  gap: 10px

}

.social {
  border: white 1px solid;
  border-radius: 9px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.insta {
  width: 22px;
  height: 22px;
}

.kakao {
  width: 22px;
  height: 22px;
}

.blog {
  width: 22px;
  height: 22px;
}

.info {
  width: 100px;
}
