<!-- footer.html -->
<div class="footer">
    <div class="footer-left">
        <div class="logo">
            <img class="logo-img" src="./img/keystart_logo.png" alt="로고">
        </div>
        <div class="links">
            <div class="footer-link">이용약관</div>
            <div class="separator">ㅣ</div>
            <div class="footer-link">개인정보 처리방침</div>
        </div>
        <div class="contact-info">
            <div class="info-item">
                <span class="label">상호명</span>
                <span class="value">키스타트(KEY START)</span>
            </div>
            <div class="info-item">
                <span class="label">주소</span>
                <span class="value">(12345)부산광역시 연제구</span>
            </div>
            <div class="info-item">
                <span class="label">사업자등록번호</span>
                <span class="value">123-45-67890 <a href="#" class="business-info-link">[사업자 정보 확인]</a></span>
            </div>
            <div class="info-item">
                <span class="label">E-MAIL</span>
                <span class="value">keystart.official@keystart.co.kr</span>
            </div>
            <div class="info-item">
                <span class="label">TEL</span>
                <span class="value">070-1234-5678</span>
            </div>
        </div>
    </div>
</div>